<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <div class="hero-logo"></div>
                <h1 class="text-center">COST TO BUILD<br><strong>A HOUSE</strong></h1>

                <h6 class="text-center">CONSTRUCTION COST CALCULATOR</h6>
                <div class="hero-powered-by">
                    <span>Powered by <div class="logo"></div></span>
                </div>

                <h6 class="text-center">EDUCATION</h6>
            </div>
        </div>
    </div>
</section>