<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand" href="#section_1">
                    <div class="logo"></div>
                </a>

            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Resources</h6>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="/#section_1" class="site-footer-link">Home</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="/#section_2" class="site-footer-link">About the Cost To Build Report</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="/#section_3" class="site-footer-link">How To Order</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="/#section_4" class="site-footer-link">FAQs</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="/#section_5" class="site-footer-link">Contact</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="/blog" class="site-footer-link">Education</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">Information</h6>

                <p class="text-white d-flex mb-1">
                    <a href="tel: 760-230-6633" class="site-footer-link">
                        (760) 230-6633
                    </a>
                </p>

                <!-- <p class="text-white d-flex">
                                                                                              <a href="mailto:info@company.com" class="site-footer-link">
                                                                                                info@company.com
                                                                                              </a>
                                                                                            </p> -->
            </div>
            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">

                <p class="copyright-text mt-lg-5 mt-4">Copyright © 2023<br>CostToBuildAHouse.com<br>All rights reserved.
                </p>

            </div>


        </div>
    </div>
</footer>
<script src="/blog/js/bootstrap.bundle.min.js"></script>